body{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5dd45df7-33f1-4274-97ea-e9c6aca69dad/ed1cb962-411d-4e43-bad2-33f07ae8e341/IN-en-20211108-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    display: flex;

}
.iconify{
    width: 15rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
}
.right{
    float:right;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 25px;
    margin-right: 25px;
 }
select{
    background-color: #00000066;
    border-radius: 3px;
    width: 6rem;
    height: 2rem;
    color: white;
    margin-right: 40px;
    }
#signin{
    width: 6rem;
    height: 2rem;
    background-color: #E50914;
    color: white;
    border-radius: 5px;
    margin-right: 50px;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 40px;
}
h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
}
#email{
    width:27rem;
    height: 3rem;
    padding: 0;
}
#started{
    background-color: #E50914;
    color: white;
    width: 10rem;
    height: 3.3rem;
    font-size: large;
    
}
.center{
    margin-top: 15%;
    justify-content: center;
    margin-left: 10%;
    text-align: center;
}
